/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
    color: #fff;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: monof55;
    src: url(../fonts/monofur/monof55.ttf);
}

@font-face {
    font-family: monof56;
    src: url(../fonts/monofur/monof56.ttf);
}

@font-face {
    font-family: "Liberation Sans Regular";
    src: url(../fonts/LiberationSans-Regular.ttf);
}

@font-face {
    font-family: "MERRIWEATHER";
    src: url(../fonts/merriweather/Merriweather-Regular.ttf);
}

body {
    font-family: "monof55", sans-serif;
    font-size: 2em;
    text-align: center;
    background: #101010;
    background-image: url("../img/Bg/zwartevilt.png");
    background-repeat: repeat;
    /*height: 100%;*/
    /*padding: 5em;*/
    color: #fff;
}

main {
    margin: 0 auto;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 25%;
    left: 0;
    /*TODO: main line-height: 0.4 ?*/
    line-height: 1.4em;
}

h1 {
    font-family: MERRIWEATHER, sans-serif;
    font-size: 2em;
    letter-spacing: 0.02em;
    color: #fc4d3c;
}


h2 {
    font-size: 1.7em;
    margin: 1em 0;
    opacity: 0.9;
}

li a {
    text-decoration: none;
    font-size: 1.5em;
}

li a, li a:visited {
    color: #FF686B;
}

li a:hover, li a:active {
    color: #FFA69E;
}

li {
    display: inline-block;
    /*margin: 0 1.4em 1em 0.5em;*/
    margin: 0 1.5em 1em 0.3em;
}

.uppercase {
    text-transform: uppercase;
}

.github {
    display: block;
    width: 1em;
    height: 1em;
    background-image: url("../img/entypo/Entypo+/Entypo+ Social Extension/github.svg");
}

.bucket {
    display: block;
    width: 1em;
    height: 1em;
    background-image: url("../img/entypo/Entypo+/Entypo+/bucket.svg");
}

.twitter {
    display: block;
    width: 1em;
    height: 1em;
    background-image: url("../img/entypo/Entypo+/Entypo+ Social Extension/twitter.svg");
}

.csfd {
    display: block;
    width: 1em;
    height: 1em;
    background-image: url("../img/entypo/Entypo+/Entypo+/controller-play.svg");
}

.itnetwork {
    display: block;
    width: 1em;
    height: 1em;
    background-image: url("../img/entypo/Entypo+/Entypo+/code.svg");
}

.email {
    display: block;
    width: 1em;
    height: 1em;
    background-image: url("../img/entypo/Entypo+/Entypo+/mail.svg");
}

#element_to_pop_up {
    display: none;
}

/* ==========================================================================
   LOADING
   ========================================================================== */
div.loading-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #101010;
}

.wrapper {
    text-align: center;
    margin-top: 20%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media screen and (max-width: 885px) {
    body {
        font-size: 1.8em;
    }

}

@media screen and (max-width: 745px) {
    body {
        font-size: 1.5em;
    }

    li {
        margin: 0 1.5em 1em 0.3em;

    }
}

@media screen and (max-width: 650px) {
    body {
        font-size: 1.3em;
    }

    li {
        margin: 0 1.88em 1em 0;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (max-width: 520px) {
    /* Styles */
    body {
        font-size: 1em;
    }

}

@media screen and (max-width: 440px) {
    body {
        font-size: 0.8em;
    }

    ul {
        padding-left: 2em;
    }

    li {
        margin: 0 1.9em 1em 0;
    }

}

@media screen and (max-width: 360px) {
    body {
        font-size: 0.7em;
    }

    ul {
        padding-left: 2em;
    }

    li {
        margin: 0 1.8em 1em 0;
    }
}

@media print,
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
Technologie
   ========================================================================== */
/*.technology{*/
    /*padding: 0 11%;*/
    /*text-align: justify;*/
/*}*/
/*.technology h2{*/
    /*text-align: center;*/
/*}*/

/*.technology em {*/
    /*color: #fc4d3c;*/
    /*font-style: normal;*/
    /*font-weight: 700;*/

/*}*/

/* ==========================================================================
GITHUB corner
   ========================================================================== */

.github-icon {
    fill: #fc4d3c;
    color: #222127;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
}

.github-corner:hover .octo-arm {
    transform-origin: 130px 106px;
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%, 100% { transform: rotate(0); }
    20%, 60% { transform: rotate(-25deg); }
    40%, 80% { transform: rotate(10deg); }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}